:javascript
  require(["jquery", "modules/comments"], function($) {
    $("#comments").comments({
      url       : "#{@config[:comments][:post_url]}",
      domain    : "#{@config[:comments][:site]}",
      article   : {
        name       : "#{@item[:title]}",
        url        : "#{absolute_url @item}",
        identifier : "#{@item[:hash]}"
      },
      recaptcha : {
        public_key : "#{@config[:recaptcha][:public_key]}",
        theme      : "#{@config[:recaptcha][:theme]}"
      }
    });
  });

%section#comments
