!!!
%html
  %head
    %meta(charset="utf-8")
    %title
      = @item[:title].nil? ? "Alex Hornung" : @item[:title]
    %link(href="/assets/styles/normalize.css" rel="stylesheet" type="text/css")
    %link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,700,800' rel='stylesheet' type='text/css')
    %link(href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900,400italic,300italic' rel='stylesheet' type='text/css')
    %link(href='http://fonts.googleapis.com/css?family=Source+Code+Pro:400,700,300' rel='stylesheet' type='text/css')

    %link(href="/assets/icons/foundation-icons/foundation-icons.css" rel="stylesheet" type="text/css")
    %link(href="/assets/styles/style.css" rel="stylesheet" type="text/css")
    %script{ :src => "/assets/js/vendor/require.js" }
    :javascript
      require.config({
        baseUrl: "/assets/js",
        paths: {
          "jquery"     : "//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min"
        }});
  %body
    %header
      .row
        .large-3.columns
          %a#logo{ :href => "/" }<
            Alex
            %b>< Hornung
        .large-9.columns
          %nav#top-nav
            %ul.inline-list
              - for item in @config[:menu]
                %li
                  %a{ :href => item[:url] }
                    = item[:text]
              - if @config[:github]
                %li.social
                  %a{ :target => "_blank", :href => "https://github.com/" + @config[:github][:profile] }
                    %i.fi-social-github
              - if @config[:linkedin]
                %li.social
                  %a{ :target => "_blank", :href => "https://www.linkedin.com/in/" + @config[:linkedin][:profile] }
                    %i.fi-social-linkedin
              - if @config[:twitter]
                %li.social
                  %a{ :target => "_blank", :href => "https://www.twitter.com/" + @config[:twitter][:profile] }
                    %i.fi-social-twitter
              - if @config[:gplus]
                %li.social
                  %a{ :target => "_blank", :href => "https://plus.google.com/" + @config[:gplus][:profile] }
                    %i.fi-social-google-plus
              %li.social
                %a{ :target => "_blank", :href => "/atom.xml" }
                  %i.fi-rss

    %section#content
      .row
        .large-9.columns
          #main
            - unless @item[:title].nil?
              %h1
                = @item[:title]
            - if @item[:kind] == "article"
              = render "partials/post-info"
            %article
              = yield
            - if @item[:comments]
              = render "partials/comments"

        .large-3.columns
          %aside#sidebar{ :class => (%w(article post_index).include?(@item[:kind])) ? "nofollow" : "follow" }
            -#%h3 About
            -#bio
              = render "partials/bio"
            - if %w(article post_index).include?(@item[:kind])
              %h3 Tags
              #tag-cloud
                = render "partials/tagcloud"
            - else
              = render "partials/scrollspy"

    %footer
      .row
        .large-12.columns
          %p.copyright
            = "Copyright (c) 2010-#{Time.now.year}, Alex Hornung"
